html, 
body {
    min-height: 100vh;
    height: 100%;
}

.main {
    height: 100%;
    background-color: #2b2828;
}

.container {
    max-width: 80rem;
    margin: 0 auto;
}

.slider {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.slider__wrapper {
    width: 100%;
    display: flex;
    transition: all 0.6s ease;
}

.slider__slide {
    min-width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    max-height: 690px;
    overflow-y: hidden;
    height: 100%;
}
.slider__slide-img {
    min-width: 1200px;
    object-fit: contain;
    border-radius: 0.8rem;
    max-height: 500px;
}

.slider__slide-text {
    color: #b9b4b4;
}

.slider__pagination {
    display: flex;
    align-self: flex-end;
}

#slide1:target ~ .slider__wrapper {
    transform: translateX(0%);
}
#slide2:target ~ .slider__wrapper {
    transform: translateX(-100%);
}
#slide3:target ~ .slider__wrapper {
    transform: translateX(-200%);
}
#slide4:target ~ .slider__wrapper {
    transform: translateX(-300%);
}

.slider__pagination a {
    width: 0.8rem;
    height: 0.8rem;
    background-color: rgb(53, 53, 139);
    display: block;
    border-radius: 50%;
    margin-right: 1rem;
    border: 0.2rem solid rgb(53, 53, 139);
}

.slider__pagination a:hover {
    background-color: transparent;
    border: 0.2rem solid rgb(53, 53, 139);
    cursor: pointer;
}

@media (max-width: 768px) {
    html {
        font-size: 14px;
    }
    .slider__pagination {
        align-self: center;
    }
}

@media (max-width: 552px) {
    html {
        font-size: 12px;
    }
}